html {
    scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}



h2 {
    font-family: "Proza Libre", sans-serif;
    margin: 0;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
nav {
    display: flex;
    align-items: center;
    padding: 0;
  }

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 1.5em;
    margin-left: auto;
    text-decoration: none;
}

.navigation-item {
  margin-right: 1em;
}

.navigation-item a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Use the same color as the text */
}

.dropdown-menu {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

  
.about-me-container {
    display: flex;
}

.portrait {
    width: 35%;
    margin-left: auto;
    flex-shrink: 0;
  }

  #skills-container i {
    font-size: 4em; /* Adjust size as needed */
    margin: 0.5em;
}
  
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}